.clearfix::after {
    clear: both;
    content: '';
    display: table;
}
  
.container {
    max-width: $max-width; 
    width: 100%; 
    margin: 90px auto 0;
    padding: 0 2rem;
}

.responisve_img {
    max-width: 100%;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}

  